* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
}
container {
    width: 100%; 
    margin: 0 auto; 
}
.hero {
    background: url('images/bmorocco.png') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 200px 20px;
    color: #fff;
}
.hero h1 {
    margin-bottom: 60px;
    font-size: 3em;
}
.hero p {
    margin-bottom: 60px;
}
.hero .apply-btn {
    padding: 10px 20px;
    background-color: #F3BB00;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.hero .apply-btn:hover {
    background-color: #1E0F1C; 
}
.villes {
    max-width: 90%; 
    margin: 0 auto; 
    padding: 20px;
}
h2 {
    text-align: left; 
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 10px; 
}
.gallery {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    gap: 60px;
}
.card {
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    text-align: center; 
    padding: 10px; 
    margin-bottom: 20px; 
    flex: 0 1 calc(25% - 60px); 
}
.card img {
    width: 100%;
    max-width: 200px; 
    height: auto; 
    border-radius: 8px 8px 0 0; 
}
.card p {
    padding-top: 10px; 
}
footer {
    text-align: center;
    padding: 20px 0;
}
.social-media a {
    margin: 0 10px;
    font-size: 20px;
    color: #333;
}
@media (max-width: 768px) {
    .gallery {
        flex-direction: column;
        align-items: center;
    }
    .card {
        flex-basis: 100%; 
    }
    .gallery img {
        max-width: 300px;
    }
    container, .villes{
        width: 100%; 
        margin: 0 auto; 
    }
}
